In [2]:
import numpy as np
import pandas as pd
import scipy
import skimage
import sklearn
import math
import os
import requests

# Of Cards and Men

#### Request the UCI website for textual data

In [210]:
r = requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data')

#### The following steps are to clean up the columns and put into a Pandas dataframe. I did this because of the textual output from the request of the website that came with '\t' and '\n' and other weird characteristics when trying to use the split() function.

In [211]:
temp = [z for z in [y.split('"') for y in [x.split('\n') for x in [''.join([x for x in r.text.split('\t')])]][0]] if z]

In [212]:
temp_2 = []
for i in range(len(temp)):
    temp_2.append(filter(None, temp[i]))

In [213]:
filtered = [list(x) for x in temp_2]

In [214]:
new = []
for i in range(len(filtered)-1):
    fix_nums = filtered[i][0].split()
    car_name = str(filtered[i][1])
    new.append(','.join([x for x in fix_nums])+','+car_name)

In [215]:
final = [x.split(',') for x in new]

In [216]:
mpg_data_frame = pd.DataFrame(final)
mpg_data_frame.columns = ['mpg','cylinders','displacement','horsepower','weight','acceleration','model_year','origin','car_name']
mpg_data_frame.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.,10.5,70,1,ford torino

## Start of Questions

1. Assume that we want to classify the cars into 3 categories: low, medium and high mpg.
Find what the threshold for each category should be, so that all samples are divided into
three equally-sized bins. [10pt]

In [219]:
# Wanted to convert the columns with numbers to numerics but am doing it like this b/c
# NA's in horsepower denoted by a question mark (?)
for i in [0,1,2,4,5,6,7]:
    mpg_data_frame.iloc[:,i] = pd.to_numeric(mpg_data_frame.iloc[:,i])

In [220]:
mpg_data_MPG_ascend = mpg_data_frame.sort_values(by='mpg',ascending=True).reset_index().drop(columns='index')
mpg_data_MPG_ascend.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,9.0,8,304.0,193.0,4732.0,18.5,70,1,hi 1200d
1,10.0,8,360.0,215.0,4615.0,14.0,70,1,ford f250
2,10.0,8,307.0,200.0,4376.0,15.0,70,1,chevy c20
3,11.0,8,400.0,150.0,4997.0,14.0,73,1,chevrolet impala
4,11.0,8,350.0,180.0,3664.0,11.0,73,1,oldsmobile omega

In [208]:
len(mpg_data_MPG_ascend)/3

132.66666666666666